<html>
<head>
<link rel="stylesheet" href="../static/css/aboutus.css" type="text/css">
</head>
<body>
	<div class="aboutus" id="about-us">
		<div class="cross-btn">
			<button class="close-aboutus" onclick="document.getElementById('about-us').style.display='none'">&#10006;</button>
			<div class="aboutus-heading">Know More About Us</div><br><br>
			<div class="member-container">
				<div class="member">
					<img src="../static/img/libdisplay.jpg" class="circle-img">
					<div class="member-desc"><br>
						<div class="name">Mehul Sachdeva</div>
						<div class="desc">FrontEnd Developer</div>
					</div>
				</div>
				<div class="member">
					<img src="../static/img/libdisplay.jpg" class="circle-img">
					<div class="member-desc"><br>	
						<div class="name">Apurv Nitanjay</div>
						<div class="desc">BackEnd Developer</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>