<!-- Navigation Bar-->
<div>
<ul>
  <li><a href="#website">
  <!-- Logo -->
  <div class="wrapper">
    <div style="font-weight: bolder;font-family: 'Raleway',sans-serif;font-size: 19px;">QUIZZY</div>
  </div>
  </a></li>

  <li><a href="#home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn"><span class="glyphicon glyphicon-file"></span>&nbsp;Resources</a>
    <div class="dropdown-content">
      <a href="#">Practice Test</a>
      <a href="#">Topics Covered</a>
      <a href="#">Syllabus</a>
    </div>
  </li>
  <li><a href="#media"><span class="glyphicon glyphicon-picture"></span>&nbsp;Media</a></li>
  <li><a href="#about"><span class="glyphicon glyphicon-earphone"></span>&nbsp;About Us</a></li>
  <li class="username_home"><a href="#username"><span class="glyphicon glyphicon-user"></span>&nbsp;MEHUL SACHDEVA</a></li>
  <li class="dropdown setting">
  	<a href="#profile" class="dropbtn">&nbsp;<span class="glyphicon glyphicon-cog"></span>&nbsp;Settings&nbsp;&nbsp;&nbsp;</a>
  	<div class="dropdown-content">
  		<a href="#">Profile Picture</a>
  		<a href="#">Description</a>
  		<a href="#">Sign Out</a>
  	</div>
  </li> 
</ul>
</div>