<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="../static/js/tools/bootstrap.min.js"></script>

<!-- Fonts Link-->
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

<!--Include CSS file-->
<link rel="stylesheet" href="../static/css/home_newversion.css" type="text/css">
<link rel="stylesheet" href="../static/css/collective.css" type="text/css">

<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>
  <style>
    html,
    body,
    #myChart {
      height: 100%;
      width: 100%;
    }
</style>
<body>


<div class="header">
  <nav>
    <ul>
      <a href="home_v2.html"><li class="logo">&nbsp;&nbsp;&nbsp;QUIZZY</li><button class="dropbtn"><span class="glyphicon glyphicon-menu-hamburger"></span></button></a>
      <span id="list">
        <a href="statistics.html"><li class="list-item"><span class="glyphicon glyphicon-stats"></span>&nbsp;Statistics</li></a>  
        <a href="#"><li class="list-item"><span class="glyphicon glyphicon-user"></span>&nbsp;Mehul Sachdeva</li></a>
        <a href="#" onClick="document.getElementById('about-us').style.display='block'"><li class="list-item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;About Us</li></a>
        <a href="#"><li class="list-item"><span class="glyphicon glyphicon-cog"></span>&nbsp;Settings</li></a>  
        </span>
      </ul>       
  </nav>
</div>

<div class="col-container">
  <div class="col-container-barchart">
    <div id='myChart' height="500px" width="1345px"></div>
  </div>
  <div class="col-container-classmark">
    <center><span class="heading">Class Statistics</span></center> 
    <span class="class-statistics">
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>
      Mehul Sachdeva scored <b>9/10</b> in quiz 1, <b>10/10</b> in quiz 2 and <b>9/10</b> in quiz 3<br>


    </span>
  </div>
</div>

<div class="stats-container">
  <div class="stats-content-options">
    <a href="Statistics.html"><div class="stats-box-1">
      <span class="individual-stats">My Statistics</span>
    </div>
    </a>
    <a href="collective.html"><div class="stats-box-2">
      <span class="individual-stats">Collective Statistics</span>
    </div></a>
    <a href=""><div class="stats-box-3">
      <span class="individual-stats">Remarks</span>
    </div></a>
    <a href=""><div class="comment-section">
      <span class="individual-stats">Comments</span>
      <div class="message">
        <span class="message-content">Going Good. Keep up the good work !</span>
        <span class="message-sender">Shahrukh Khan</span>
      </div>
    </div>
    </a>
  </div>
  <br>
</div>

<script>
    var myConfig = {
      type: "bar",
      series: [{
        values: [10,9,8,8,9,10,10,7,7,7,2,5,6,8,7]
      }, {
        values: [1,4,5,6,8,2,8,7,5,6,7,4,9,9,1]
      }, {
        values: [9,9,9,9,10,10,9,9,8,7,9,6,10,10,9]
      }]
    };

    zingchart.render({
      id: 'myChart',
      data: myConfig,
      height: "100%",
      width: "100%"
    });

</script>
</body>
</head>
</html>