<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quizzy</title>
    <script type="text/javascript" src="../static/js/cquiz.js"></script>
</head>
<body>
<h1>Hello Here U can create a quiz</h1>
<p><input type="number" name="noOfQuestion" id="noOfQuestion"/></p>



</body>
</html>