<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="../static/js/tools/bootstrap.min.js"></script>

<!-- Circular Bar-->
<link rel="stylesheet" href="../static/css/tools/circle.css" type="text/css">

<!-- Fonts Link-->
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

<!--Include CSS file-->
<link rel="stylesheet" href="../static/css/home_newversion.css" type="text/css">



<body>


<!-- Navigation Bar-->
<div>
<ul>
  <li><a href="#website">
  <!-- Logo -->
  <div class="wrapper">
    <div style="font-weight: bolder;font-family: 'Raleway',sans-serif;font-size: 19px;">QUIZZY</div>
  </div>
  </a></li>

  <li><a href="#home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn"><span class="glyphicon glyphicon-file"></span>&nbsp;Resources</a>
    <div class="dropdown-content">
      <a href="#">Practice Test</a>
      <a href="#">Topics Covered</a>
      <a href="#">Syllabus</a>
    </div>
  </li>
  <li><a href="#media"><span class="glyphicon glyphicon-picture"></span>&nbsp;Media</a></li>
  <li><a href="#about"><span class="glyphicon glyphicon-earphone"></span>&nbsp;About Us</a></li>
  <li class="username_home"><a href="#username"><span class="glyphicon glyphicon-user"></span>&nbsp;MEHUL SACHDEVA</a></li>
  <li class="dropdown setting">
  	<a href="#profile" class="dropbtn"><span class="glyphicon glyphicon-cog"></span>&nbsp;Settings</a>
  	<div class="dropdown-content">
  		<a href="#">Profile Picture</a>
  		<a href="#">Description</a>
  		<a href="#">Sign Out</a>
  	</div>
  </li> 
</ul>
</div>


<!-- containing whole content of home page -->
<div class="container">
  <div class="subcontainer-left"><span class="effect1">&nbsp;# Trending Now</span></div>
  <div class="left-box-top"><iframe src="https://www.youtube.com/embed/watch?v=1MxVA8y8IBA&list=PLAwxTw4SYaPkGKjpeiLWz8ydvFEkmRkBn" width="750px" height="370px"></iframe>
  </div> 
  <div class="subcontainer-right"><span class="effect"> &nbsp;Why To Do Quizzy ?</span></div>
  <div class="right-box-top">
    <div class="right-box-top-1">
    <span class="star">&bigstar;</span>
      <span class="inside-text-head">Time to Learn</span><br>
      <span class="inside-text">Gain knowledge about recent topics and trends</span>
    </div>
    <div class="right-box-top-2">
    <span class="star">&bigstar;</span>
      <span class="inside-text-head">Improve Ability</span><br>
      <span class="inside-text">Increase your speed to tackle each problem</span>
    </div>
    <div class="right-box-top-3">
    <span class="star">&bigstar;</span>
      <span class="inside-text-head">Practice</span><br>
      <span class="inside-text">Help to practice a lot of questions</span>
    </div>
    <div class="right-box-top-4">
    <span class="star">&bigstar;</span>
      <span class="inside-text-head">Check your stats</span><br>
      <span class="inside-text">Know your progess and find areas for improvement</span>
    </div>
    <div class="right-box-top-5">
    <span class="star">&bigstar;</span>
      <span class="inside-text-head">Monitoring</span><br>
      <span class="inside-text">Compare results with other students</span>
    </div>
  </div>



  <div class="bottom">
    <div class="content-box-1">
      <div class="content-box-text">
        <div class="content-box-text-top"><img src="../static/img/user1.jpg" height="200px" width="327px"></div>
        <div class="content-box-text-bottom">
          <div class="content-box-text-bottom-head"><b><span class="glyphicon glyphicon-tasks"></span>&nbsp;Quiz 1</b></div>
          <div class="content-box-text-bottom-info"><b><span class="info">The Beginning</span></b><br>
            <div class="q1-button">
              <input type="button" class="q1-b" value="TAKE QUIZ">
              <input type="button" class="q1-b-info" value="INFO" onclick="document.getElementById('info01').style.display='block'">
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-2">
      <div class="content-box-text-top"><img src="../static/img/user2.jpg" height="200px" width="327px"></div>
        <div class="content-box-text-bottom">
          <div class="content-box-text-bottom-head"><b><span class="glyphicon glyphicon-tasks"></span>&nbsp;Quiz 2</b></div>
          <div class="content-box-text-bottom-info"><b><span class="info">&nbsp;Give It A Shot</span></b><br>
            <div class="q2-button">
              <input type="button" class="q2-b" value="TAKE QUIZ">
              <input type="button" class="q2-b-info" value="INFO" onclick="document.getElementById('info02').style.display='block'">
            </div> 
          </div>
        </div>
    </div>
    <div class="content-box-3">
      <div class="content-box-text-top"><img src="../static/img/user3.jpg" height="200px" width="327px"></div>
        <div class="content-box-text-bottom">
          <div class="content-box-text-bottom-head"><b><span class="glyphicon glyphicon-tasks"></span>&nbsp;Quiz 3</b></div>
          <div class="content-box-text-bottom-info"><b><span class="info">Very Last Lesson</span></b><br>
            <div class="q3-button">
              <input type="button" class="q3-b" value="TAKE QUIZ">
              <input type="button" class="q3-b-info" value="INFO" onclick="document.getElementById('info03').style.display='block'">
            </div> 
          </div>
        </div>
    </div>
    <a class="link" href="../template/statistics.html"><div class="content-box-4">
      <div class="content-box-text-top"><img src="../static/img/stats.jpg" height="200px" width="327px"></div>
        <div class="content-box-text-bottom">
          <div class="content-box-text-bottom-head"><b><span class="glyphicon glyphicon-stats"></span>&nbsp;Statistics</b></div>
            <div class="content-box-text-bottom-info">Get a better understanding and exact description of what you have done.<br>
              Draw a valid inference, along with a measure of their reliability about the parameters from the data.
            </div>
       </div>
    </div>
    </a>
  </div>

  <div class="footer"><br>
    <div class="footer-options">
      <span class="footer-options-1"><a href="#">Report a Problem</a></span>
      <span class="footer-options-2"><a href="#">Ask a Question</a></span>
      <span class="footer-options-3"><a href="#">FAQs</a></span>
      <span class="footer-options-4"><a href="#">About Us</a></span>
      <span class="footer-options-5"><a href="#">Contact Us</a></span>
      <span class="footer-options-6"><a href="#">More Info</a></span>
      <span class="footer-options-power">&copy;&nbsp;Powered By <a href="#mehulsachdeva">Mehul Sachdeva</a></span>
    </div>
  </div>



  <div class="q1-b-info-display animate" id="info01">
    <input type="button" class="cross-btn" onclick="document.getElementById('info01').style.display='none'" value='&#10006'>;
    <div class="q1-b-info-display-head">The Beginning</div>

    <div class="q1-b-info-display-content">Quiz 1 contains 10 questions with following percentage of questions level
    <br>

    <!-- Contains level of questions with circular bar-->
      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Easy</span><br><br><br>

      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Average</span><br><br><br>

      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Hard</span>


    </div>
  </div>

  <div class="q2-b-info-display animate" id="info02">
    <input type="button" class="cross-btn" onclick="document.getElementById('info02').style.display='none'" value='&#10006'>;
    <div class="q2-b-info-display-head">More Than Basics</div>

    <div class="q2-b-info-display-content">Quiz 2 contains 10 questions with following percentage of questions level
      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Easy</span><br><br><br>

      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Average</span><br><br><br>

      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Hard</span>
    </div>
  </div>

  <div class="q3-b-info-display animate" id="info03">
    <input type="button" class="cross-btn" onclick="document.getElementById('info03').style.display='none'" value='&#10006'>;
    <div class="q2-b-info-display-head">Very Last Lesson</div>

    <div class="q2-b-info-display-content">Quiz 3 contains 10 questions with following percentage of questions level
      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Easy</span><br><br><br>

      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Average</span><br><br><br>

      <div class="c100 p50 big red pos" style="font-size: 60px;">
        <span>50%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
      </div>
      <span class="pos-of-elevel">Hard</span>
    </div>
  </div>

</div>

</body>
</html>
