<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/css/quiz-model.css" type="text/css">
<style>
.model{
	background: url("../static/img/quiz-model-bg.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	position: relative;
	height: 290px;
	width:240px;
	border:0;
	top:0px;
	border-radius: 3px;
}
</style>
</head>
<body>

<div class="model">
	<div class="topic">Basics In HTML</div>
	<div class="topic-description">Pattern of Questions</div>
	<a href=""><button class="btn-quiz">TAKE QUIZ</button></a>
</div>

</body>
</html>