<!DOCTYPE HTML>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../static/css/template.css" type="text/css">
<script src="../static/js/template.js"></script>
<title>Template</title>
</script>
</head>
<body>
<h1> Add Custom Text Here...<span id="vertical">|</span></h1>
<h3> Some introduction about the topic. Get something catchy for the users.</h3>
<button class="login" onclick="document.getElementById('loginform').style.display='block'">LOGIN</button>
<div id="loginform" class="modal">
  <form class="modal-content animate" action="login.php" method="post" name="loginform">
  <button class="cross" onclick="document.getElementById('loginform').style.display='none'">&#10006;</button>
    <div class="img">
    <img src="../static/img/user.jpg" height="50px" width="50px">
    </div><br>
      <label>&nbsp;&nbsp;&nbsp;&nbsp;Username : </label>
      <input type="text" name="username" class="username" required><br><br>

      <label>&nbsp;&nbsp;&nbsp;&nbsp;Password &nbsp;:</label>
      <input type="password" name="password" class="password" required><br><br>

      <input type="submit" class="submitlogin" value="LOGIN">&nbsp;&nbsp;&nbsp;
      <button type="reset" onclick="document.getElementById('loginform').style.display='none'" class="cancelbtn">CANCEL</button><br><br>
    </div>
  </form>
</div>
<button class="register" onclick="document.getElementById('registerform').style.display='block'">REGISTER</button>
<div id="registerform" class="modal">
	<form class="modal-content-2 animate" name="registrationform" action="/log" method="post">
	<button class="cross" onclick="document.getElementById('registerform').style.display='none'">&#10006;</button>
	<div class="img">
	<img src="user.jpg" height="60px" width="60px">
	</div><br>
	<table cellspacing="5px" cellpadding="2px" style="text-align: center;">
	<tr>
		<td><label>&nbsp;First Name  &nbsp;&nbsp;  : </label></td>
		<td><input type="text" name="fname" class="username" ></td>
	</tr>
	<tr>
		<td><label>&nbsp;Last Name&nbsp;&nbsp; : </label></td>
		<td><input type="text" name="lname" class="username" ></td>
	</tr>
	<tr>
		<td><label>&nbsp; Username <span style="color:red;font-size:16px;">*</span>&nbsp;: </label></td>
		<td><input type="text" name="username" class="username"  id="username_register" required></td>
	</tr>
	<tr>
		<td><label>&nbsp; Password <span style="color:red;font-size:16px;">*</span>&nbsp;&nbsp;: </label></td>
		<td><input type="password" name="password" class="password" id="password_register" onkeyup="checkPassword()" required>
		<b><div id="password_strength"></div></b></td>
	</tr>	
	<tr>
		<td><label>&nbsp; Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label></td>
		<td><input type="email" name="email" class="username" required></td>
	</tr>
	</table><br><br>
		<input type="submit" class="submitlogin" value="REGISTER" onclick="submitRegistration()">&nbsp;&nbsp;&nbsp;
		<button type="reset" onclick="document.getElementById('registerform').style.display='none';document.getElementById('password_strength').innerHTML='';document.getElementById('display_text').innerHTML='';" class="cancelbtn">CANCEL</button><br><br>
		<span id="display_text" style="font-size:12px;color:red;"></span>
	</form>
	</div>
	<div id="id02" class="modal" style="display: block;">
	<div class="modal-content-2 animate">
	<button class="cross" onclick="document.getElementById('id02').style.display='none'">&#10006;</button><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Successfully Registered<br><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="template.html"><button class="cancelbtn" onclick="document.getElementById('id02').style.display='none'">CANCEL</button></a>
	</div>
	</div>
</body>
</html>
