.aboutus-pop{
	z-index: 100;
	height:380px;
	width:500px;
	background-color:#FEF9E7;
	border-radius: 3px;
	border: 2px solid #F1C40F;
}

.close-aboutus{
	background: none;
	border: 0;
	font-size:18px;
	position: absolute;
}

.aboutus-heading{
	text-align:center;
	color:black;
	font-size:3em;
}

.member-details{
	text-align: center;
}

.member{
	display: inline-block;
	margin: 0.5em;
}

.circle-img{
	height:180px;
	width:180px;
	border-radius:50%;
	display: inline-block;
    margin: 0 auto;
}

.name{
	text-align: center;
	font-size:22px;
}

.member-desc{
	font-size:16px;
	color:black;
	text-align:center;
}

.member-container{
	padding: 0.2em;
	text-align: center;
}