
nav ul{
	width: 100%;
	position: relative;
	background: black;
	opacity: 0.9;
	overflow: hidden;
	z-index:100;
}

nav ul li{
	font-size: 20px;
	display: inline-block;
	padding: 20px 20px;
	color:white;
}

nav ul li:hover{
	background: #273746;
}

.logo{
	position: relative;
	left:-20px;
}
.dropbtn{
	display: none;
}

.display-logo{
	position: absolute;
	left:39%;
	top:32%;
	font-size:60px;
	color:white;
}

.description{
	font-size: 20px;
	position: absolute;
	top:44%;
	left:33%;
	color:white;
}

.stats-content{
	position: absolute;
	left:70px;
	top:440px;
	height:200px;
	width:800px;
	font-size: 22px;
}

.stats-content-main{
	padding: 0 20px;
}

#chartContainer{
	height: 325px;
	width:100%;
}

.stats-content-options{
	height:300px;
	margin-top: 35px; 
}

.stats-content-options > a {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.stats-box-1{
	height:260px;
	border: 0;
	border-radius: 2px;
	background: #E74C3C;
}

.individual-stats{
	font-size: 2.75em;
	color:white;
	font-weight: bolder;
	padding-left: 5px;
}


.stats-box-2{
	height: 260px;
	background: #85C1E9;
	border:0;
	border-radius: 2px;
}

.stats-box-3{
	height: 260px;
	background: #52BE80;
	border: 0;
	border-radius: 2px;
}

.comment-container{
	height:260px;
	background: #F4D03F;
	border: 0;
	border-radius: 2px;
}

.comment-section{
	top:10%;
}


.message{
	height: 100%;
	background: #F9E79F;
	border-radius: 5px;
	display: inline-block;
}

.message-content{
	font-size: 1.33em;
    padding: 5px 5px 14% 5px;
    display: block;
}

.message-sender{
	font-size:1.1em;
	font-weight: bold;
	padding-right: 3%;
	padding-bottom: 3%;
	display: block;
	text-align:right;
}

.col-container-barchart{
	height: 500px;
}

.heading{
	font-size: 2.5em;
	font-weight: bolder;
	text-align: center;
	display: block;
}

.class-statistics{
	font-size: 1.75em;
}