body{
	font-family: 'Raleway',sans-serif;
    overflow-x: hidden;
    overflow-y: 800px;
    padding-top: 52px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.9;
    z-index:1;
    border-color: #333;
} 

.navbar-default a.navbar-brand{
    color: white;
}

li {
    font-size: 17px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    li {
        font-size: 13px;
    }
}

.navbar-default .navbar-nav>li>a, .dropbtn {
	position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover, .dropdown:hover .dropbtn {
    background-color: #111111;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content.left{
    right: 0;
}

@media only screen and (max-width: 767px){
    .dropdown-content.left{
        right: auto;
    }
}

.dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.right-side-nav{
    float: right;
}

.right-side-nav > li{
    float: left;
}

.video-container{
    display: inline-block;
}

/*
*{box-sizing:border-box}
.mySlides {display:none}

.slideshow-container {
  max-width: 1000px;
  height:100%;
  position: absolute;
  top:0px;
  left:0px;
}
*/
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.left-box-top{
    background: cyan;
    height:370px;
}

.right-box-top-1, .right-box-top-2, .right-box-top-3, .right-box-top-4, .right-box-top-5{
    border-radius: 3px;
    background: #F1C40F;
    width:100%;
    margin: 5px 0;
    white-space: nowrap;
    display: flex;
}

.right-box-top-1{
    margin-top:0;
}

.subcontainer-left{
    border-radius: 2px;
    background:#808B96;
}
.subcontainer-right{
    border-radius: 2px;
    padding-bottom:20px;
    background:#5DADE2;
}

.inside-text-head{
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.inside-text{
    color:black;
    font-size: 15px;
}

.effect{
    font-size: 1.9em;
    color:white;
    font-weight: bolder;
}

.effect1{
    font-size: 21px;
    color:white;
    font-weight: bolder;
}

.star{
    font-size:51px;
    color: rgba(28, 40, 51,0.8);
    padding-left: 5px;
}

.star-text{
    display: inline-block;
    white-space: normal;
}

.right-box-top-1:hover .star{
    color:#E74C3C;
}
.right-box-top-2:hover .star{
    color:#E74C3C;
}
.right-box-top-3:hover .star{
    color:#E74C3C;
}
.right-box-top-4:hover .star{
    color:#E74C3C;
}
.right-box-top-5:hover .star{
    color:#E74C3C;
}

.bottom{
    margin-bottom: 5px;
    display: flex;
}

.same-size{
    display: flex; 
}

@media only screen and (max-width: 768px){

    .bottom{
        display: block;
    }

    .same-size{
        display: block;
    }
    
}

.content-box-1{
    border-radius: 3px;
    background: #E74C3C;
}

.content-box-2{
    border-radius: 3px;
    background: #AF7AC5;
}
.content-box-3{
    border-radius: 3px;
    background: #3498DB;
}
.content-box-4{
    border-radius: 3px;
    background: #F39C12;
}

.content-box-text-top{
    border:0;
}

.content-box-text-top > img{
    /* max-width: 100%; */
    /* height: auto; */
    width: 100%;
    height:200px;
}

.content-box-text-bottom{
    text-align: center;
    padding: 10px;
}

.content-box-text-bottom-head{
    font-size: 18px;
    padding-bottom: 10px;
}

.content-box-text-bottom-info{
    font-size: 14px;
}

.content-box-text-bottom-info.stats{
    font-size: 14px;
    text-align: left;
}

.footer{
    background:black;
    opacity:0.9;
    font-size: 18px;
}

.footer-options-power{
    color:white;
    font-size: 21px;
}

.q1-b,.q1-b-info{
    border: 0;
    border-radius: 2px;
    background: #FADBD8;
    font-weight: bolder;
    height:40px;
    width:100px;

}

.q1-b:hover,.q1-b-info:hover{
    background: -webkit-linear-gradient(#FADBD8,white,#FADBD8);
}

.q2-b,.q2-b-info{
    border: 0;
    border-radius: 2px;
    background: #E8DAEF;
    font-weight: bolder;
    height:40px;
    width:100px;
}

.q3-b,.q3-b-info{
    border: 0;
    border-radius: 2px;
    background: #D6EAF8;
    font-weight: bolder;
    height:40px;
    width:100px;
}

.q2-b:hover,.q2-b-info:hover{
    background:-webkit-linear-gradient(#E8DAEF,white,#E8DAEF);
}

.q3-b:hover,.q3-b-info:hover{
    background:-webkit-linear-gradient(#D6EAF8,white,#D6EAF8);
}

.q1-button, .q2-button, .q3-button{
    padding-top:20px;
}

.q1-b-info-display{
    display: none;
    position: absolute;
    border-radius: 3px;
    top:490px;
    left:10px;
    height:340px;
    width:327px;
    background: white;
    opacity:0.9;
}

.q1-b-info-display-head{
    font-size: 25px;
    position: relative;
    left:50px;
    top:1px;
    font-weight: bolder;
}



.q1-b-info-display-content{
    position: relative;
    text-align:justify;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}


.q2-b-info-display{
    display: none;
    position: absolute;
    border-radius: 3px;
    top:490px;
    left:343px;
    height:340px;
    width:327px;
    background: white;
    opacity: 0.9;
}

.q2-b-info-display-head{
    font-size: 25px;
    position: relative;
    left:50px;
    top:1px;
    font-weight: bolder;
}


.q2-b-info-display-content{
    position: relative;
    text-align:justify;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.pos{
    position: relative;
    top:10px;
    left:10px;
}

.pos-of-elevel{
    position: relative;
    top:25px;
    left:17px;
}

.cross-btn{
    position: relative;
    top:7px;
    left:290px;
    font-size: 25px;
    border: 0;
    background: white;
    opacity: 0.9;
}

.q3-b-info-display{
    display: none;
    position: absolute;
    border-radius: 3px;
    top:490px;
    left:676px;
    height:340px;
    width:327px;
    background: white;
    opacity: 0.9;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


.info{
    font-size: 22px;
}

.content-box-4:hover{
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.link{
    font-family: 'Raleway',sans-serif;
    color:#1C2833;
    font-weight: bold;
}

.link:hover{
    font-family: 'Raleway',sans-serif;
    color:#212F3D;
    font-weight: bold;
}

/* .nav{
    position: fixed;
    z-index: 10;
    width: 100%;
}
 */
