.model{
	background: url("../static/img/quiz-model-bg.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	height: 290px;
	width:240px;
	border:0;
	border-radius: 3px;
	position: relative;
}

a{
	text-decoration: none;
}

.quiz-a{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.topic{
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	font-size:24px;
	color:#273746;
	text-align: center;
	margin: 20px 0;
}

.topic-description{
	font-family: 'Raleway',sans-serif;
	font-size:20px;
	color:#273746;
	text-align: center;
	padding:10px;
}

.btn-quiz{
	border: 0;
	background: #9B59B6;
	border-radius: : 2px;
	width: 100%;
	height: 45px;
	cursor: pointer;
	font-size:20px;
	color:white;
}

.btn-quiz:hover{
	background:#7D3C98;
}