.model{
	background: url("../static/img/quiz-model-bg.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	position: relative;
	height: 290px;
	width:240px;
	border:0;
	top:0px;
	border-radius: 3px;
}

a{
	text-decoration: none;
}

.topic{
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	font-size:24px;
	color:#273746;
	position: relative;
	text-align: center;
	top:20px;
}

.topic-description{
	position: relative;
	font-family: 'Raleway',sans-serif;
	font-size:20px;
	color:#273746;
	text-align: center;
	padding:10px;
	top:40px;
}

.btn-quiz{
	position: relative;
	border: 0;
	background: #9B59B6;
	border-radius: : 2px;
	width: 100%;
	height: 45px;
	cursor: pointer;
	top:175px;
	font-size:20px;
	color:white;
}

.btn-quiz:hover{
	background:#7D3C98;
}